// Body
$nav-text: #fcfcfd;
$nav-bg: #222239;
$body-text: #fcfcfd;
$body-bg: #000;
$card-bg: #222239;
$btn-hover:#fff;
$btn-hover2: #000;
$footer-bg: $body-bg;
$footer-text: #fcfcfd;
$secondary-color: #f38000;
// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
